<ul>
    <li>
        <a href="static_pages">Статические страницы</a>
    </li>
	<li><a href="#">Списки груп</a>
		<ul> 
			<li><a href="#">1 курс</a></li> 
			<li><a href="#">2 курс</a></li> 
			<li><a href="#">3 курс</a></li> 
			<li><a href="#">4 курс</a></li>
			<li><a href="#">5 курс</a></li>
			<li><a href="#">6 курс</a></li>
		</ul> 
	</li> 
	
	<li><a href="#">Розклад занять</a>
		<ul> 
			<li><a href="#">Заліки та екзамени</a></li> 
		</ul> 
	</li>

	<li><a href="#">Допоміжні структури</a> 
		<ul>
			<li><a href="#">Поліклініка</a></li> 
			<li><a href="#">Бібліотека</a></li> 
			<li><a href="#">Банкомати</a></li> 
			<li><a href="#">Аптеки</a></li> 
			<li><a href="#">Перукарні</a></li>
		</ul>		
	</li>
 
	<li><a href="#">Гуртожиток</a> 
		<ul> 
			<li><a href="#">Студентський побут</a></li> 
			<li><a href="#">Контактна інформація</a></li> 
		</ul> 
	</li>
</ul> 