<ul>
    <li>
        <a href="http://pma.kiev.ua/admin/static_pages">Статичні сторінки</a>
    </li>
	<li><a href="http://pma.kiev.ua/admin/news">Новини</a>
	</li> 
	
	<li><a href="http://pma.kiev.ua/admin/comments">Комментарі</a>
	</li>
        <li><a href="javascript:void(0)">Користувачі</a>
            <ul>
                <li>
                    <a href="http://pma.kiev.ua/admin/users/lectors">Викладачі</a>
                </li>
                <li>
                    <a href="http://pma.kiev.ua/admin/users/students">Студенти</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="http://pma.kiev.ua/admin/groups">Групи</a>
        </li>

        <li>
            <a href="http://pma.kiev.ua/admin/subjects">Предмети</a>
        </li>
</ul> 