#content{
    background-image:url(../img/calendar_winter.png);
    background-repeat:no-repeat;    
}
#calendar{
    margin-left:40px;
    padding-top:40px;
    width:616px;
    padding-bottom:4px;
}
#calendar table{
    background-color:#FDFAFA;
    width:616px;
    border:1px solid #cfe0f0;
    border-collapse:collapse;
}
#calendar th{
    background-color:#cfe0f0;
    color:#fff;
    width:88px;
}
#calendar td{
    border:1px solid #cfe0f0;
    height:80px;
}
#calendar .header_calendar{
    text-align:center;
    height:30px;
    margin-left:200px;
}
#calendar .header_calendar span{
    color:#4d74bf;
    font-size:22px;
    float:left;
    padding:0 20px 0 20px;
}
#calendar a.prev_month{
    background-image:url(../img/prev_winter.png);
    width:28px;
    height:21px;
    display:block;
    float:left;
    position:relative;
    top:2px;
}
#calendar a.next_month{
    background-image:url(../img/next_winter.png);
    width:28px;
    height:21px;
    display:block;
    float:left;
    position:relative;
    top:2px;
}
#calendar .date{
    text-align:left;
    padding-left:3px;
    color:#4d74bf;
    font-weight:bold;
}
#calendar .freeday{
    background-color:#e4f1fc;
}