<p>Так вышло, что любимая система контроля версий в нашей небольшой команде разработчиков &#8211; git. Поэтому приведу несколько самых распространенных и
используемых ежедневно команд.</p>
<p><strong>Список часто используемых команд git</strong></p>
<pre class="brush: bash;"># создание репозитория
git init

# добавление всех изменений в репозиторий (в т.ч. новых файлов)
git add .

# закрепление всех изменений в репозитории
# (включая изменения, не добавленные командой git add, за исключением новых файлов)
# будет вызван визуальный редактор комментария к коммиту
git commit -a

# закрепление всех изменений в репозитории
# комментарий к коммиту задается в командной строке
git commit -a -m "Сообщение"

# отменить последний коммит, вернув все изменения в проект
# (что-то вроде кнопки undo для последнего коммита)
git reset --soft HEAD^

# текущее состояние рабочего дерева каталогов
git status

# просмотреть внесенные Вами изменения с момента последнего коммита
git diff

# добавить ссылку на удаленный SSH репозиторий
git remote add origin ssh://user@myserver.com/var/git/myapp.git

# удалить ссылку удаленный репозиторий
git remote rm origin

# получение последней версии из источника (удаленного репозитория) и слияние ее с текущей
git pull origin master

# отправка Вашей версии в источник (удаленный репозиторий)
git push origin master

# создание ветви (бранча)
git branch branch_name

# переключение ветви (бранча)
git checkout branch_name

# слияние текущей ветви и с указанной
git merge branch_name

# удаление ветви (бранча)
# ветвь должна быть полностью слита с HEAD
git branch -d branch_name

# безусловное удаление ветви (бранча)
git branch -D branch_name</pre>
<p><strong>И более сложные примеры</strong></p>
<p>Создание репозитория и загрузка его на удаленный серевер через SSH:</p>
<pre class="brush: bash;">git init
touch README
git add README
git commit -a -m "Initial commit"
git remote add origin ssh://user@myserver.com/var/git/myapp.git
git push origin master</pre>
<p>Создание ветви, изменение и слияние:</p>
<pre class="brush: bash;">git init
git branch test
git checkout test
# ...
# внесение изменений
# ...
git commit -a -m "Branch commit"
git checkout
git merge test
git branch -d test</pre>